<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>勤怠編集</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<h1>勤怠編集画面</h1>
	  
	<form th:action="@{/edit_complate}" method="POST">
	       <label>
	           ユーザーID入力<br>
	           <input type="text" name="edit_id" placeholder="ID入力">
	       </label><br
		   <label>
		   	       日付<br>
		   	       <input type="data" name="edit_date" placeholder="日付を選択">
		   	   </label><br>

		   <label>
		       勤務開始時間<br>
		       <input type="time" name="edit_startTime" placeholder="勤務開始時間を入力">
		   </label><br>
		   <label>
		   		勤務終了時間<br>
		   		       <input type="time" name="edit_endTime" placeholder="勤務終了時間を入力">
		   		   </label><br>
		   <label>
		       休憩時間<br>
		       <input type="time" name="edit_breakTime" placeholder="休憩時間を入力">
		   </label><br>
		  
		   	<label>
		   		  実労働時間<br>
		   	<input type="time" name="edit_workTime" placeholder="休憩時間を入力">
		   	</label><br>
		   
		   <labe>
		   <select name="edit_attendanceType" required>
		     <option value="出勤">出勤</option>
		     <option value="振出">振出</option>
		   </select>
		   </label><br>
		  
		   

	       <input type="submit" value="登録">
	   </form>
	
	
	
	   <a href="/AtMenu">勤怠メニュー</a>

</body>
</html>

