<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>勤怠登録</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<h1>勤怠登録画面</h1>
	
	
	
	<form th:action="@{/Register_complate}" method="POST">
	       <label>
	           日付<br>
	           <input type="date" name="dateInput" placeholder="日付を選択">
	       </label><br
		   <label>
		   	       開始時間<br>
		   	       <input type="time" name="startTime" placeholder="勤務開始時間を入力">
		   	   </label><br>

		   <label>
		       勤務終了時間<br>
		       <input type="time" name="endTime" placeholder="勤務終了時間を入力">
		   </label><br>
		   <label>
		       休憩時間<br>
		       <input type="time" name="breakTime" placeholder="休憩時間を入力">
		   </label><br>
		  
		   	<label>
		   		  実労働時間<br>
		   	<input type="time" name="workTime" placeholder="休憩時間を入力">
		   	</label><br>
		   
		   <labe>
		   <select name="attendanceType" required>
		     <option value="出勤">出勤</option>
		     <option value="振出">振出</option>
		   </select>
		   </label><br>
		  
		   

	       <input type="submit" value="登録">
	   </form>

	
	
	
	  
	   <a href="/AtMenu">勤怠メニュー</a>
</body>
</html>

