<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<h1>パスワード再設定</h1>
	<form th:action="@{/Register_pw}" method="POST">
		       <label>
		           旧パスワード<br>
		           <input type="text" name="oldpw" placeholder="日付を選択">
		       </label><br
			   <label>
			   	      新パスワード<br>
			   	       <input type="text" name="newpw" placeholder="勤務開始時間を入力">
			   	   </label><br>

			   <label>
			       新パスワード※確認用<br>
			       <input type="text" name="new1pw" placeholder="勤務終了時間を入力">
			   </label><br>
			   
			   

		       <input type="submit" value="登録">
		   </form>
		   <a href="/System">戻る</a>


</body>
</html>