<!DOCTYPE html>
<!--　Tymeleaf用　-->
<!--　Tymeleaf用の属性を埋め込んでいく -->

<html xmlns:th="http://www.thymeleaf.org">
	

<head>
<meta charset="UTF-8">
<title>トップ</title>
<link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/style_top.css}">

<!--　th:がつくのはTymeleaf用　-->
<!-- @{パス名}　-->
</head>
<body>
	<div class="container">
		<div class="circle">
			<div class="logo-area">
				<span class="company-text">company</span>
				<h1 class="logo">M</h1>
			</div>
		</div>
		
		<div class="login-button">
			<a href="/L">ログイン</a>
		</div>	
	</div>
		
		
	
</body>
</html>



