<!DOCTYPE html>
<!--　Tymeleaf用　-->
<!--　Tymeleaf用の属性を埋め込んでいく -->
<html xmlns:th="http://www.thymeleaf.org">
	

<head>
<meta charset="UTF-8">
<title>トップ</title>
<link rel="stylesheet" th:href="@{/css/style.css}">

<!--　th:がつくのはTymeleaf用　-->
<!-- @{パス名}　-->
</head>
<body>

	<h1>Company M</h1>
	
	<div class="container">
		<a href="/L">ログイン</a>
		
		<div class="circle">
			<span class="company-text">company</span>
			<h1 class="logo">M</h1>
		</div>
	
		<a href="/AtAdd">新規登録</a>
		
		
	
</body>
</html>



