#コンパイルされたクラスファイル
*.class
#ログファイルとデバッグ出力
*.jar
*.war
*.ear
#バージョン管理されていない依存関係
/lib/
#特定のIDEディレクトリ
/.settting/
/project/
/.classpath
/.idea/
*.iml
*.ipr
*.iws
#Eclipse特有のファイル
*~.nib
*.swp
*.bak
*.tmp
*.orig
*.rej
#MavenやGradleのフォルダ
/target/
/build/
#serverの欄だっむファイル
/.tomcat/
#動的Webプロジェクトに特化
/.apt_generated/
/.classpath
/.factorypath
/.project
/.settings/
/target/
/tmp/
log./